.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-items > ul > li{
    margin: 5px;
}

#img{
    width: 8%;
    height: 7%;
}

.card{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.card > img{
    width: 100%;
}

.restro-list{
    display: flex;
    flex-wrap: wrap;
}